@import '../scss/styles.scss';

.artworkcard {
    transition: all 0.3s;
    box-shadow: 0px 0px 7px 0px $box-shadow;

    .card-top {
        height: 200px;
        overflow: hidden;
      
        img {
            transition: 0.3s;
            width: 100%;
            min-height: 200px;
            object-fit: cover;
            cursor: pointer;
        }

        &:hover img {
            transform: scale(1.1)
        }
    }

    .card-bottom {
        padding: 20px;

        .card-info {
            h4 {
                font-size: 22px;
                font-weight: 400;
                margin-bottom: 10px;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis; 
            }
        }

        .favorite-icon {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            cursor: pointer;

            .svg-icon {
                display: flex;
                height: 30px;

                svg {
                    margin-left: 5px;
                    max-height: 30px;
                }
    
                &.favorite svg {
                    fill: $font-secondary;
                }            
            }
        }
    }
}