@import '../scss/styles.scss';

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 15px 0;
}

.page-item {
    font-weight: 700;
    
    &.active .page-link {
        color: $font-secondary;
    }

    &:hover .page-link {
        color: $font-secondary;
    }
}

.page-link {
    cursor: pointer;
    padding: 15px;
}